* -linguist-detectable
*.ts linguist-detectable
*.mjs linguist-detectable
*.md linguist-detectable
*.yaml linguist-detectable
*.yml linguist-detectable
*.toml linguist-detectable
*.sql linguist-detectable
*.sh linguist-detectable
Dockerfile linguist-detectable
pnpm-lock.yaml linguist-generated
